# Przedkompilowane pliki binarne i katalogi kompilacji
bin/
obj/

# Pliki tymczasowe i zależności
*.log
*.user
*.suo
*.cache
*.vspscc
*.vssscc

# Konfiguracja IDE
.vscode/
.ionide/
*.csproj.user

# Pliki generowane przez system
.DS_Store
Thumbs.db

# Ustawienia dla .NET
project.lock.json
artifacts/
node_modules/

# Pliki tajne i konfiguracje lokalne
secrets.json
appsettings.Development.json
appsettings.Local.json
.env
.env.*

# Pliki tworzone przez Visual Studio
.vs/
*.sln.ide

# Pliki publikacyjne
publish/
out/

# Docker
**/[Pp]ublish/
**/[Tt]emp/
docker-compose.override.yml

# Testy i raporty
TestResults/
*.coverage
*.testlog

# Pliki logowania i debugowania
logs/
*.tlog
*.lastcodeanalysissucceeded
